@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
 rgba(73,202,157,1) 50%, rgba(0,212,255,1) 100%);

}

.wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    border-radius: 2em;
    padding: 5em 3em;
}

h1{
    font: 3em;
}

h3{
    color:#5edfe3 ;
}

#choices{
    display: flex;
    gap:1em;
}

#choices button{
    padding:0.5em 1.2em;
    border-radius: 0.5em;
    font-size: 3em;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}

#choices button:hover{
    background-color:#31d675;
    border:3px solid transparent;
    transform:scale(1.05);
}

#player-choice{
    font-size: 1.5em;
}

#Comp-choice{
    font-size: 1.5em;
}

#resultDisplay{
    font-size: 2em;
    border:3px solid;
    padding: 0.5em;
}
